<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./Views/partials/head.ejs'); %>
</head>
<body>
    <%- include('./Views/partials/form.ejs'); %>
    <%- include('./Views/partials/messages.ejs'); %>
</body>
</html>