<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./Views/partials/head.ejs'); %>
</head>
<body>

    <%- include('./Views/partials/tabla.ejs'); %> 

    <div class="div-btn">
        <a href="/">
            <button class="btn btn-secondary">Cargar producto</button>
        </a>
    </div>
</body>
</html>

<style>

body {
    background-color: #846B8A;
}
.div-btn {
    text-align: center;
    margin-top: 20px;
}
</style>